NEXT_PUBLIC_FB_API_KEY=AIzaSyA4SlE_cvI6Ed-M2tDqDrEfXNKcYhH4NEY
NEXT_PUBLIC_FB_AUTH_DOMAIN=interviewtraker.firebaseapp.com
NEXT_PUBLIC_FB_PROJECT_ID=interviewtraker
NEXT_PUBLIC_FB_STORAGE=interviewtraker.firebasestorage.app
NEXT_PUBLIC_SITE_DOMAIN=interview-king.taobowen.com
NEXT_PUBLIC_FB_STORAGE_BUCKET=interviewtraker.appspot.com